In [1]:
import pandas as pd
import numpy as np
import sys, os
from IPython.display import display

In [14]:
# Define the lat, long of the location and the year
lat, lon, year = 43.000000, -75.000000, 2010
     
  # You must request an NSRDB api key from the link above
api_key = '9YugNx8TuYSPparpgZSoFWtCNEoZDhHdhbVNssPS'
# Set the attributes to extract (e.g., dhi, ghi, etc.), separated by commas.
attributes = 'ghi,dhi,dni,wind_speed,air_temperature,solar_zenith_angle'
  # Choose year of data
year = '2010'
  # Set leap year to true or false. True will return leap day data if present, false will not.
leap_year = 'false'
  # Set time interval in minutes, i.e., '30' is half hour intervals. Valid intervals are 30 & 60.
interval = '30'
  # Specify Coordinated Universal Time (UTC), 'true' will use UTC, 'false' will use the local time zone of the data.
  # NOTE: In order to use the NSRDB data in SAM, you must specify UTC as 'false'. SAM requires the data to be in the
  # local time zone.
utc = 'false'
  # Your full name, use '+' instead of spaces.
your_name = 'Elham+Amini'
  # Your reason for using the NSRDB.
reason_for_use = 'beta+testing'
  # Your affiliation
your_affiliation = 'my+institution'
  # Your email address
your_email = 'elhamfarvid@gmail.com'
  # Please join our mailing list so we can keep you up-to-date on new developments.
mailing_list = 'true'

In [20]:
# Declare url string
url = 'https://developer.nrel.gov/api/solar/nsrdb_psm3_download.csv?wkt=POINT({lon}%20{lat})&names={year}&leap_day={leap}&interval={interval}&utc={utc}&full_name={name}&email={email}&affiliation={affiliation}&mailing_list={mailing_list}&reason={reason}&api_key={api}&attributes={attr}'.format(year=year, lat=lat, lon=lon, leap=leap_year, interval=interval, utc=utc, name=your_name, email=your_email, mailing_list=mailing_list, affiliation=your_affiliation, reason=reason_for_use, api=api_key, attr=attributes)
  # Return just the first 2 lines to get metadata:
info = pd.read_csv(url)
  # See metadata for specified properties, e.g., timezone and elevation
timezone, elevation = info['Local Time Zone'], info['Elevation']

/Users/elhamamini/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,25,26,27,28,29,30,31,32,33,34,35,36,37,39,40,41,42,43,45) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [21]:
info.head(5)

,Source,Location ID,City,State,Country,Latitude,Longitude,Time Zone,Elevation,Local Time Zone,...,Cloud Type 11,Cloud Type 12,Fill Flag 0,Fill Flag 1,Fill Flag 2,Fill Flag 3,Fill Flag 4,Fill Flag 5,Surface Albedo Units,Version
0,NSRDB,1211519,-,-,-,43.01,-75.02,-5,177,-5,...,Dust,Smoke,NaN,Missing Image,Low Irradiance,Exceeds Clearsky,Missing CLoud Properties,Rayleigh Violation,NaN,3.0.6
1,Year,Month,Day,Hour,Minute,GHI,DHI,DNI,Wind Speed,Temperature,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,1,1,0,0,0,0,0,0.30000000000000004,-3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,1,1,0,30,0,0,0,0.2,-3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,1,1,1,0,0,0,0,0.2,-3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df = pd.read_csv(url,skiprows=2)
df = df.set_index(pd.date_range('1/1/{yr}'.format(yr=year), freq=interval+'Min', periods=525600/int(interval)))
df.head()

,Year,Month,Day,Hour,Minute,GHI,DHI,DNI,Wind Speed,Temperature,Solar Zenith Angle
2010-01-01 00:00:00,2010,1,1,0,0,0,0,0,0.3,-3,159.98
2010-01-01 00:30:00,2010,1,1,0,30,0,0,0,0.2,-3,159.25
2010-01-01 01:00:00,2010,1,1,1,0,0,0,0,0.2,-3,156.82
2010-01-01 01:30:00,2010,1,1,1,30,0,0,0,0.2,-3,153.16
2010-01-01 02:00:00,2010,1,1,2,0,0,0,0,0.3,-3,148.71

In [ ]:
df.to_csv(test_file.csv)